
body {
    background-color: #28659b;
    color: white;
}
.logo {
    margin-top: 100px;
    height: 100px;
    width: 200px;
}
.login_input {
    color: black;
    border-radius: 5px;
    overflow: hidden;

    .MuiInputBase-root {
        background-color: white;
        overflow: hidden;
    }
}
.link_forgot {
    text-align: left !important;
    
    a{
        color: white !important;
    } 
}
.link_signup {
    text-align: right !important;

    a{
        color: white !important;
    }
}

/* sign up with facebook style */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  width: 100%; 
  margin: 0.5em;
  padding: 0 15px 0 60px;
  border: none;
  text-align: left;
  line-height: 50px;
  white-space: nowrap;
  border-radius: 7px;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #28659b;
  background-image: linear-gradient(#28659b, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 13px 13px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}
